*.iml
.idea
target
dependency-reduced-pom.xml
.DS_Store
module*.zip
python/dist
python/build
python/toree_kernel.egg-info
**/node_modules/**
java/.idea/*
java/javascriptspark.iml
java/target/*
java/dependency-reduced-pom.xml
.__browserify_string_empty.js
.DS_Store
jupyter-js-services
examples/airline/public/data/2008bd.json/*
incubator-toree/*
